<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
				<resource id="Oto_OrderSync::elements" title="Oto Order Sync" sortOrder="9999">
					<resource id="Oto_OrderSync::OrderSyncJob_List"	title="Order Job List" sortOrder="10" />
					<resource id="Oto_OrderSync::OrderSyncJob_View"	title="Order Job Detail" sortOrder="20" />
					<resource id="Oto_OrderSync::Setup"	title="Oto Connect/Disconnect Website" sortOrder="30" />
				</resource>
            </resource>
        </resources>
    </acl>
</config>
